<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>joincon</servlet-name>
		<display-name>joincon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.joincon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logincon</servlet-name>
		<display-name>logincon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.logincon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>editcon</servlet-name>
		<display-name>editcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.editcon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deletecon</servlet-name>
		<display-name>deletecon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.deletecon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>idcheckcon</servlet-name>
		<display-name>idcheckcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.idcheckcon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upload_boardcon</servlet-name>
		<display-name>upload_boardcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.upload_boardcon</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>delete_boardcon</servlet-name>
		<display-name>delete_boardcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.delete_boardcon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>board_readcon</servlet-name>
		<display-name>board_readcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.board_readcon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>board_com_con</servlet-name>
		<display-name>board_com_con</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.board_com_con</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pollcon</servlet-name>
		<display-name>pollcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.pollcon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>send_msgcon</servlet-name>
		<display-name>send_msgcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.send_msgcon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>accept_msgcon</servlet-name>
		<display-name>accept_msgcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.accept_msgcon</servlet-class>
	</servlet>


	
	<servlet-mapping>
		<servlet-name>joincon</servlet-name>
		<url-pattern>/joincon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logincon</servlet-name>
		<url-pattern>/logincon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editcon</servlet-name>
		<url-pattern>/editcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deletecon</servlet-name>
		<url-pattern>/deletecon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>idcheckcon</servlet-name>
		<url-pattern>/idcheckcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upload_boardcon</servlet-name>
		<url-pattern>/upload_boardcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>delete_boardcon</servlet-name>
		<url-pattern>/delete_boardcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>board_readcon</servlet-name>
		<url-pattern>/board_readcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>board_com_con</servlet-name>
		<url-pattern>/board_com_con</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pollcon</servlet-name>
		<url-pattern>/pollcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>send_msgcon</servlet-name>
		<url-pattern>/send_msgcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>accept_msgcon</servlet-name>
		<url-pattern>/accept_msgcon</url-pattern>
	</servlet-mapping>
</web-app>
