<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.boardMapper">
	<insert id="upload" parameterType="boardDTO">
		insert into board_posts values(board_posts_num.nextval, #{board_title}, #{board_content}, #{board_photo}, sysdate, #{category}, #{id})
	</insert>
	<select id="selectAll_board" resultType="boardDTO">
   		select * from board_posts
   	</select>
   	<delete id="delete_board" parameterType="String">
   		delete from board_posts where board_num=#{board_num}
   	</delete>
   	<select id="selectone" parameterType="boardDTO" resultType="boardDTO">
   		select * from board_posts where board_num=#{board_num}
   	</select>
</mapper>